@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: local('Istok Web Regular'), local('IstokWeb-Regular'), url(http://fonts.gstatic.com/s/istokweb/v10/EyYQiCAfMk0ApvfCJfs4nFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 700;
  src: local('Istok Web Bold'), local('IstokWeb-Bold'), url(http://fonts.gstatic.com/s/istokweb/v10/2koEo4AKFSvK4B52O_MwauXREeHhJi4GEUJI9ob_ak4.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJbLZkzWHE0Rai0z0KZwCYHE.woff2) format('woff2');
}
