$main-font:'Helvetica';

$main-bg:#fff;
$main-color:#292621;
$main-color-hover:#D7BB56;
$main-color-red:#B61001;
$main-color-red-hover:#de323c;
$main-content-bg:#fff;

$main-menu-color:$main-color-hover;
$main-menu-color-hover:$main-color;
$main-menu-bg:$main-color;
$main-menu-bg-hover:#e0d29f;

$main-menu-current-color:$main-color;
$main-menu-current-bg:$main-color-hover;
$main-menu-current-color-hover:$main-color;
$main-menu-current-bg-hover:#e0d29f;

$submenu-color:$main-color-hover;
$submenu-menu-bg:$main-color;
$submenu-color-hover:$main-color;
$submenu-menu-bg-hover:#e0d29f;


$skype-color:#00aff0;

$map_bg:'';